[submodule "third_party/wakaama"]
	path = third_party/wakaama
	url = https://github.com/punica/wakaama
[submodule "third_party/jansson"]
	path = third_party/jansson
	url = https://github.com/akheron/jansson
[submodule "third_party/libmicrohttpd"]
	path = third_party/libmicrohttpd
	url = https://gnunet.org/git/libmicrohttpd.git
[submodule "third_party/ulfius"]
	path = third_party/ulfius
	url = https://github.com/babelouest/ulfius
[submodule "third_party/libjwt"]
	path = third_party/libjwt
	url = https://github.com/benmcollins/libjwt
[submodule "third_party/curl"]
	path = third_party/curl
	url = https://github.com/curl/curl.git
